{% extends 'web/app/app_base.html' %}
{% block app %}

<!-- back button -->
<a class="btn btn-primary py-4" href="{% url 'data:home' %}">
Back
</a>
<div class="py-2"></div>
<section class = "max-w-none app-card bg-gray-100">
    <h1 class="prose prose-xl font-bold pb-2"> Summary of {{ summary.document.title }}: </h1>
<!-- Displays summary in long stretch of text-->
    <div class="bg-white rounded-lg shadow p-4">
       {% if summary.content %}
            <p class="prose">{{ summary.get_summary}}</p>
        {% else %}
            <p class="prose">Please wait.</p>
        {% endif %}
    </div>
</section>

{% endblock %}
