@tailwind components;

@layer components {
  /* typography helpers */

  .pg-title {
    @apply font-sans text-3xl font-bold mb-2;
  }
  .pg-subtitle {
    @apply font-sans text-xl mb-1;
  }

  .pg-text-centered {
    @apply font-sans text-center;
  }

  .pg-text-left {
    @apply text-left;
  }

  .pg-text-right {
    @apply text-right;
  }

  .pg-help {
    @apply text-gray-600 text-sm;
  }

  .pg-text-primary {
    @apply font-sans text-primary;
  }

  .pg-text-success {
    @apply font-sans text-success;
  }

  .pg-text-info {
    @apply font-sans text-info;
  }

  .pg-text-danger {
    @apply font-sans text-error;
  }

  .pg-text-muted {
    @apply font-sans text-gray-700;
  }

  .pg-hidden-mobile-inline {
    @apply font-sans hidden md:inline-block;
  }

  .pg-content {
    @apply font-sans prose max-w-none lg:prose-lg;
  }


  /*

  .pg-hidden-mobile-inline
    @extend .is-hidden-mobile

  */

  /*buttons*/

  .pg-button-primary {
    @apply font-sans btn btn-primary;
  }

  .pg-button-secondary {
    @apply font-sans btn btn-outline;
  }

  .pg-button-light {
    @apply font-sans btn btn-ghost;
  }

  .pg-button-danger {
    @apply font-sans btn btn-outline text-red-500 border-red-500 hover:bg-red-500 hover:border-red-700;
  }

  .pg-inline-buttons {
    @apply font-sans flex space-x-1;
  }

  .pg-justify-content-end {
    @apply justify-end;
  }



  /* forms */
  .pg-input-group {
    @apply font-sans mb-3;
  }

  .pg-label {
    @apply font-sans block font-bold;
  }

  .pg-control {
    @apply font-sans input input-bordered w-full;
  }

  .pg-select select {
    @apply font-sans select select-bordered w-full;
  }

  /* columns */
  .pg-columns {
    @apply flex flex-col space-y-4 lg:flex-row lg:space-x-4 lg:space-y-0;
  }

  .pg-columns-reversed {
    @apply lg:flex-row-reverse;
  }

  .pg-column {
    @apply flex-1;
  }

  .pg-column-one-quarter {
    @apply basis-1/4 grow-0 shrink-0;
  }

  .pg-column-one-third {
    @apply basis-1/3 grow-0 shrink-0;
  }

  .pg-align-items-center {
    @apply items-center;
  }


  /* tables */

  .pg-table {
    @apply table table-zebra w-full;
  }

  .table-responsive {
    @apply overflow-x-auto;
  }

  /* breadcrumbs */
  .pg-breadcrumbs {
    display: flex;
    align-items: center;
  }

  .pg-breadcrumbs a {
    text-decoration: underline;
  }

  .pg-breadcrumbs li:first-child {
    padding: 0;
  }

  .pg-breadcrumbs li:not(:first-child) {
    padding: 0 0 0 0.75em;
  }

  .pg-breadcrumbs li:not(:first-child)::before {
    color: gray;
    content: "\0002f";
    float: left;
    padding-right: 0.75em;
  }

  .pg-breadcrumb-active {
    color: #7a7a7a;
  }

  /* cards */

  .pg-card {
    @apply card bg-base-100 shadow-xl
  }

  /* .pg-card-image */
  /* @extend .card-image */

  .pg-card-body {
    @apply card-body pt-0
  }

  .pg-ratio-3x2 {
    @apply aspect-3/2
  }

}
