{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}

{% block page_head %}

{% endblock %}

{% block app %}
<section id="svelte-form" class="prose-lg app-card">
</section>

<section id="svelte-table" class="app-card">
</section>

{% endblock %}

{% block page_js %}
    <script>
        const STATIC_FILES = {};
        const urlBase = "{{ url_base }}";
    </script>
    <script src="{% static 'js/doc-table-bundle.js' %}"></script>
    <script src="{% static 'js/doc-form-bundle.js' %}"></script>
{% endblock %}