{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}

{% load static %}
{% block page_head %}

{% endblock %}

{% block app %}


<section class="app-card">
    <div class="pg-columns pg-columns-reversed pg-align-items-center">
        <div class="pg-column">
            <h1 class="pg-title">{% translate "Upload your documents!" %}</h1>
            <div id="form-holder" hx-get="{% url 'data:upload' %}"
                 hx-select="#docform" hx-target="this" hx-trigger="load"
            class = max-w-lg></div>
        </div>
    </div>
</section>

<section class="app-card">
    <!-- Table of Documents-->
    <div id="table-holder" hx-get="{% url 'data:doc_table' %}"
         hx-select="#doctable" hx-target="this" hx-trigger="load">
    </div>
</section>

{% endblock %}
