Django
django-allauth
psycopg2-binary
djangorestframework
djangorestframework-api-key
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
celery-progress
celery
celery[redis]
django-storages
boto3[crt]
django-widget-tweaks
django-cleanup
django-environ
redis[hiredis]
hypothesis[django]
requests
openai
django-annoying
django-lockdown
